/dependencies

*.csv
*.out
*.json
*.lock
*.arrow
*.log
stats_*.txt
*.model
*.bin
*.pyc

/model_training/model_experiments/results
/benchmarks/ToolQA
/benchmarks/ToolBench
benchmarks/TriviaQA/triviaqa-unfiltered.tar.gz
model_training/models/tokenizer/tokenizer.json
model_training/toolgpt/ToolGPT
benchmarks/gms8k-easy-responses-*

tokenizer.json